@model IEnumerable<ObligatorioMvc_2.Models.Emprendimiento>


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntajeFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Financiado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFinanciador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntajeFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Financiado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFinanciador)
        </td>
        <td>
            
            @Html.ActionLink("Ver Detalle", "VerDetalle","Emprendimiento", new { Id=item.Id},null)

        </td>
    </tr>
}

</table>